@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFF0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html, body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
  }
}

.page-container {
  aspect-ratio: 4/3;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
}

.font-sogang {
  font-family: var(--font-sogang), system-ui, sans-serif !important;
}
